<%- include('includes/head.ejs') %>
<main>
    <h1>Favourites</h1>
    <% if (favs.length > 0) { %>
        <ul>
            <% favs.forEach((stock) => { %>
                <li>
                    <%= stock %>        
                    <form action="/remove" method="POST">
                        <input type="hidden" name="remove" value="<%= stock %>">
                        <button type="submit">Remove</button>
                    </form>
                </li>   
            <% }) %>
        </ul>
    <% } else { %>
        <h1>You have no favourites yet</h1>
    <% } %>
</main>
<%- include('includes/end.ejs') %>